
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Satisfy);


/* #PAGE LOAD */

body.royal_loader {
    background: none;
    visibility: hidden;
}
#royal_preloader {
    font-family: Arial;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9999999999;
    -webkit-transition: opacity 0.2s linear 0.8s;
       -moz-transition: opacity 0.2s linear 0.8s;
        -ms-transition: opacity 0.2s linear 0.8s;
         -o-transition: opacity 0.2s linear 0.8s;
            transition: opacity 0.2s linear 0.8s;
}
#royal_preloader.complete {
    opacity: 0;
}
#royal_preloader .background {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    -webkit-transition: background 0.5s linear;
       -moz-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
         -o-transition: background 0.5s linear;
            transition: background 0.5s linear;
}
#royal_preloader.number .name {
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s linear;
       -moz-transition: -moz-transform 0.3s linear;
        -ms-transition: -ms-transform 0.3s linear;
         -o-transition: -o-transform 0.3s linear;
            transition: transform 0.3s linear;
    -webkit-animation: fly 0.3s;
       -moz-animation: fly 0.3s;
        -ms-animation: fly 0.3s;
         -o-animation: fly 0.3s;
            animation: fly 0.3s;
}
#royal_preloader.number .percentage {
    color: #292929;
	font-family: 'Lato', sans-serif;
	font-weight:400;
    text-align: center;
    margin: -35px 0px 0px -110px;
    background-image: url('../images/loader.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 60px;
    width: 220px;
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 50%;
    -webkit-transition: all 0.3s linear 0.5s;
       -moz-transition: all 0.3s linear 0.5s;
        -ms-transition: all 0.3s linear 0.5s;
         -o-transition: all 0.3s linear 0.5s;
            transition: all 0.3s linear 0.5s;
}
#royal_preloader.text .loader {
    position: absolute;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	color: #cfa144;
	text-shadow: 0 0 15px rgba(0,0,0,0.3);
	text-transform:uppercase;
    top: 50%;
    left: 50%;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    letter-spacing: 3px;
    font-size: 18px;
    white-space: nowrap;
}
#royal_preloader.text .loader div {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0%;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: left 0.3s linear;
       -moz-transition: left 0.3s linear;
        -ms-transition: left 0.3s linear;
         -o-transition: left 0.3s linear;
            transition: left 0.3s linear;
}
#royal_preloader.logo .loader {
    width: 140px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -70px 0px 0px -20px;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#royal_preloader.logo .loader div {
    position: absolute;
    bottom: 0%;
    left: 0px;
    right: 0px;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: bottom 0.3s linear;
       -moz-transition: bottom 0.3s linear;
        -ms-transition: bottom 0.3s linear;
         -o-transition: bottom 0.3s linear;
            transition: bottom 0.3s linear;
}
#royal_preloader.logo .percentage {
    position: absolute;
    width: 80px;
    height: 40px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    margin: 40px 0px 0px -40px;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

@-webkit-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-moz-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-ms-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@-o-keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}
@keyframes fly {
    0% { opacity: 0; top: 50%; }
    20% {opacity: 1; top: 40%; }
    100% { opacity: 0; top: 20%;}
}















/* #Navigation
================================================== */

body, html { overflow: hidden; }

html,body{
	width:100%;
	height:100%;
	background:#fff;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	-ms-transition: background 0.6s;
	-o-transition: background 0.6s;
	transition: background 0.6s;
}

section{
	width:100%;
	height:100%;
	text-align:center;
	position:relative;
	margin:0 auto;
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

article{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	margin:0 auto;
	position:absolute;
	left:0;
	top:0;
	z-index:2;
	opacity:1;
}

article i{
	position:relative;
	font-size:30px;
	margin-top:100px !important;
	display:inline-block !important;
	color:#fff;
}

article i:before{
	width:100px;
	height:100px;
	background:rgba(255,255,255,0.1);
	-webkit-border-radius:50%;
	border-radius:50%;
	display:inline-block !important;
	line-height:100px;
}



article .cnt{
	text-align:left;
	line-height:24px;
	font-size:20px;
}

.off{
	z-index:0;
	opacity:0;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}



#menu-wrap{
    position: fixed;
	width:100%;
	z-index:1000;
	background:rgba(250,250,250,.9);
	top:0;
	left:0;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
}


.logo{
	position:absolute;
	background:url('../images/logo1.png') no-repeat center center;
	background-size:140px 41px;
	width:140px;
	left:50%;
	margin-left:-70px;
	top:15px;
	height:53px;
	z-index:1002;
}


.menu-collapser {
    position: relative;
    width: 100%;
    height: 38px;
    line-height: 38px;
	padding-top:40px;
    font-size: 16px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.collapse-button {
    position: absolute;
    left: 50%;
    top: 50%;
	margin-left:-20px;
    width: 40px;
    color: #000;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.65);
    cursor: pointer;
    font-size: 18px;
    text-align: center;

    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.collapse-button:hover, .collapse-button:focus {
    background-color: #040404;
    color: #FFF;
}
.collapse-button .icon-bar {
    background-color: #000;
    border-radius: 1px 1px 1px 1px;
    display: block;
    height: 2px;
    width: 18px;
    margin: 2px 0;
}
.collapse-button:hover .icon-bar {
    background-color: #fff;
}

ul.slimmenu {
	text-align:center;
	margin-top:70px;
}
ul.slimmenu li {
    position: relative;
    display: inline-block;
}
ul.slimmenu > li {}
ul.slimmenu > li:first-child { border-left: 0 }
ul.slimmenu > li:last-child { margin-right: 0 }
ul.slimmenu li a {
    display: block;
    color: #292929;
    padding: 10px 0px;
    margin: 0px 12px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform:uppercase;
    border-bottom:4px solid rgba(29,29,29,0);
    font-size: 12px;
	background-size:0 0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
ul.slimmenu li a:hover {
    border-bottom:4px solid rgba(29,29,29,1);
    text-decoration: none;
}

ul.slimmenu li .sub-collapser {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 100%;
    text-align: center;
    z-index: 999;
    cursor: pointer;
}
ul.slimmenu li .sub-collapser:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
ul.slimmenu li .sub-collapser > i {
    color: #333;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
}
ul.slimmenu li ul {
    margin: 0;
    list-style-type: none;
}
ul.slimmenu li ul li { background-color: #BBB }
ul.slimmenu li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
    width: 100%;
}
ul.slimmenu li > ul > li ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999;
    width: 100%;
}
ul.slimmenu.collapsed {
	padding:0;
	margin:0;
}
ul.slimmenu.collapsed li {
    display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li a {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul.slimmenu.collapsed li .sub-collapser {
    height: 40px;
}
ul.slimmenu.collapsed li > ul {
    display: none;
    position: static;
}


.social-side{ 
	position:absolute;
	width:100%;
	text-align:center;
	top:50%;
	margin-top:105px;
	height:24px;
	left:0;
	z-index:9999;
}

.icon-side a {
	font-family: 'FontAwesome';
	font-size: 20px;
	line-height: 24px;
	width:28px;
	color: #fff; 
    display: inline-block;
	margin:0;
	padding:0;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out; 
}
.icon-side a:hover{
	color: #cfa144;
}


/* #Home
================================================== */

#home{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
	background-size:cover;
}

.big-text { 
	position: absolute; 
	left:0;
	top:50%;
	margin-top:-25px;
	width:100%;
	font-family: 'Sifonn-Basic';
	color: #fff;
	text-shadow: 0 0 15px rgba(0,0,0,0.6);
	text-transform:uppercase;
	text-align:center;
	font-size: 60px; 
	line-height:60px;
	z-index: 200; 
}
.big-text span{ 
	color: #cfa144;
}
.small-text1 { 
	position: absolute;
	left:0;
	top:50%;
	margin-top:50px;
	width:100%;
	color:#fff;
	font-family: 'Satisfy', cursive;
	text-shadow: 0 0 5px rgba(0,0,0,0.1);
	text-align:center;
	font-size: 20px; 
	line-height:20px;
	font-weight: 100;
	z-index: 200; 
}
.small-text1 a {
	position: relative;
	display: inline-block;
	outline: none;
	text-align:left;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 20px;
}
.small-text1 a:hover,
.small-text1 a:focus {
	outline: none;
}
.cl-effect-5 a {
	overflow: hidden;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

.cl-effect-5 a span {
	position: relative;
	display: inline-block;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	padding-top:10px;
	padding-bottom:10px;
	color: #cfa144;
	content: attr(data-hover);
	text-align:left;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.cl-effect-5 a:hover span,
.cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.cl-effect-14 a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0.8;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}





.just_pattern { 
	background-image: url(../images/pattern.png); 
	position: absolute; 
	opacity: 0.8; 
	left: 0px;
	top: 0px;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%; 
	z-index: 1; 
}


.background-grid {
	position:absolute;
	background: url('../images/grid.png');
	width:100%;
	height:100%;
	top:0;
	left:0;
	bottom:0;
	right:0;
	overflow:hidden;
	z-index:1;
}

#video_background { 
	position: absolute; 
	bottom: 0; 
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
.flippy {
position: relative;
}
.flippy > * {
position: absolute;
opacity: 0;
width:100%;
top:-100px;
}
.flippy > *:first-child {
opacity: 1;
top: 0;
}
/* #About Us
================================================== */
#about{
	overflow-y:auto;
	overflow-x:hidden;
	background:url('../images/pattern1.png');
}
#about h1{
	padding-top:140px;
}

.subhead { 
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 90%;
	text-transform:uppercase;
	color: #a8a8a8;
	margin-bottom:20px;
}


.sep{
	position:relative;
	margin:0 auto;
	width:40px;
}
.sep1{
	position:relative;
	margin:0 auto;
	width:40px;
    border-top:1px solid #000;
	margin-bottom:10px;
}  





.about-img-wrap{
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding-bottom:60px;
}
.about-img-wrap img{
	display:block;
	width:100%;
	height:auto;
}


.about-img-background{
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	background:url('../images/about-background.jpg')no-repeat center center;
	background-size:cover;
	text-align:center;
	padding-top:50px;
	padding-bottom:50px;
}
.white-cover { 
	background:rgba(255,255,255,.85); 
	position: absolute;
	left: 0px;
	top: 0px;
	right:0;
	bottom:0;
	width: 100%;
	height: 100%; 
	z-index: 1; 
}
.z-index-about{  
	z-index: 10; 
}



#sync1 .item{ 
	position: relative; 
	padding-bottom:50px;
	padding-top:20px;
    text-align: center;
	background:rgba(255,255,255,.8);
	margin-bottom:60px;
}
#sync1 .item h6{
	text-align:center;
	padding-bottom:20px;
}
#sync1 .item p{
	text-align:center;
	padding-left:20px;
	padding-right:20px;
}

#sync1 .item .circle-fency{ 
	position: absolute; 
	width: 60px;
	height:60px;
	bottom:-32px;
	border:2px solid #cfa144;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	left:50%;
	margin-left:-32px;
    text-align: center;
	border-radius:50%;
	z-index:5;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#sync1 .item .circle-fency img{ 
	width: 60px;
	height:60px;
	display:block;
	border-radius:50%;
}
#sync1 .item .circle-fency:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
#sync1 .item .circle-fency1{ 
	position: absolute; 
	width: 60px;
	height:60px;
	bottom:-32px;
	border:2px solid #cfa144;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	left:50%;
	margin-left:-112px;
    text-align: center;
	border-radius:50%;
	z-index:5;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#sync1 .item .circle-fency1 img{ 
	width: 60px;
	height:60px;
	display:block;
	border-radius:50%;
}
#sync1 .item .circle-fency1:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
#sync1 .item .circle-fency2{ 
	position: absolute; 
	width: 60px;
	height:60px;
	bottom:-32px;
	border:2px solid #cfa144;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	left:50%;
	margin-left:48px;
    text-align: center;
	border-radius:50%;
	z-index:5;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#sync1 .item .circle-fency2 img{ 
	width: 60px;
	height:60px;
	display:block;
	border-radius:50%;
}
#sync1 .item .circle-fency2:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}



#sync2 .item{
    text-align: center;
	margin:0 auto;
    cursor: pointer;
}
#sync2 .item p{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-align:center;
	color: #606060;
	font-size: 12px;
	line-height:12px;
	text-transform:uppercase;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
#sync2 .item p span{
	border-left:2px solid #a8a8a8;
	border-right:2px solid #a8a8a8;
	padding-left:15px;
	padding-right:15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
#sync2 .item p:hover span{
	border-left:2px solid #cfa144;
	border-right:2px solid #cfa144;
}
#sync2 .synced .item p{
	color:#cfa144;
}
#sync2 .synced .item p span{
	border-left:2px solid #cfa144;
	border-right:2px solid #cfa144;
}







/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper{
	position:relative;
	width:100%;
}
.bx-wrapper .bx-prev {
	left: 50%;
	margin-left:-35px;
	bottom:-40px;
	background:url(../images/arr1.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.bx-wrapper .bx-next {
	right:50%;
	margin-right:-35px;
	bottom:-40px;
	background:url(../images/arr2.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.bx-wrapper .bx-prev:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.bx-wrapper .bx-next:hover {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	outline: 0;
	width: 30px;
	height: 30px;
	border-radius:50%;
	border:1px solid #000;
	text-indent: -9999px;
	z-index: 9;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}


.media{
	width:100%;
}

#skills{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	background:#ededed;
	padding-top:50px;
	padding-bottom:10px;
}
#skills h5{
	text-align:left;
	padding-bottom:5px;
}


.skill { 
	list-style-type: none;
	margin: 0;
	text-align:left;
	width:100%;
	position:relative; 
	padding-top:22px;
}

.skill li { 
	margin-bottom:50px; 
	width:100%;
	background:#fff;
	height:6px; 	  
}

.skill li p { 
	position:relative; 
	top:-25px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	color:#292929;
	font-size:12px;
	text-transform:uppercase;
}

.bar { 
	height:4px; 
	margin:1px 2px;
	width:100%;  
	position:absolute;		
}

.bar-prc1 {
	width:90%;
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #cfa144;
}
.bar-prc2 {
	width:85%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #cfa144;
}
.bar-prc3 {
	width:80%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #cfa144;
}
.bar-prc4 {
	width:68%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #cfa144;
}
.bar-prc5 {
	width:96%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #cfa144;
}
.bar-prc6 {
	width:93%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #cfa144;
}




@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }



#team{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	padding-top:50px;
	background:url('../images/pattern1.png');
}

#team img{
	display:block;
	width:100%;
	height:auto;
}
#team h3{
}

.team-wrapper{
	position:relative;
	padding-top:10px;
	display:block;
	width:100%;
	overflow:hidden;
}
.team-wrap{
	position:relative;
	display:block;
	width:25%;
	float:left;
	overflow:hidden;
}
.team-wrap .team-mask{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.3);
	top:0;
	left:0;
	z-index:2;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.team-wrap:hover .team-mask{
	background:rgba(0,0,0,.9);
}
.team-wrap img{
	display:block;
	width:100%;
	height:auto;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.team-wrap:hover img{
	-webkit-transform: scale(1.4) rotate(7deg);
	-moz-transform: scale(1.4) rotate(7deg);
	-ms-transform: scale(1.4) rotate(7deg);
	-o-transform: scale(1.4) rotate(7deg);
	transform: scale(1.4) rotate(7deg);
}



.team-wrap .team-small-img{
	position:absolute;
	display:block;
	width:90px;
	height:90px;
	border:5px solid #cfa144;
	top:-50%;
	margin-top:-90px;
	left:50%;
	margin-left:-50px;
	border-radius:50%;
	background-size: 90px 90px;
	background-repeat:no-repeat;
	background-position:center center;
	z-index:4;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; 
}
.team-wrap:hover .team-small-img{
	top:50%;
	transition-delay:0.1s;
	-webkit-transition-delay:0.1s;
}
.image-team1{
	background-image:url('../images/team11.jpg');
}
.image-team2{
	background-image:url('../images/team22.jpg');
}
.image-team3{
	background-image:url('../images/team33.jpg');
}
.image-team4{
	background-image:url('../images/team44.jpg');
}


	
.team-wrap  .arrow-down{
	  left:50%;
	  width:0;
	  height:0;
	  z-index:3;
	  position:absolute;
	  top:-50%;
	margin-top:8px;
	  margin-left:-10px;
	  border-left:10px solid transparent;
	  border-right:10px solid transparent;
	  border-top:10px solid #cfa144;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}	
.team-wrap:hover  .arrow-down{
	top:50%;
	transition-delay:0.1s;
	-webkit-transition-delay:0.1s;
}


.team-wrap h6{
	position:absolute;
	display:block;
	width:100%;
	height:18px;
	text-align:center;
	color:#fff;
	top:50%;
	margin-top:-9px;
	left:0;
	z-index:4;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.team-wrap:hover h6{
	margin-top:30px;
}


.team-wrap .social-team{ 
	position:absolute;
	width:100%;
	text-align:center;
	top:100%;
	margin-top:65px;
	z-index:99;
	height:18px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.team-wrap:hover .social-team{ 
	top:50%; 
}



.team-social li {
    padding:0; 
    list-style: none;
	text-align:center; 
	width:26px;
    display: inline-block;
	cursor:pointer;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out; 
}

.team-social li.icon-team a {
	font-family: 'FontAwesome';
	font-size: 15px;
	line-height: 18px;
	width:26px;
	color: #cfa144; 
	margin:0;
	padding:0;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out; 
}
.team-social li:hover{
}
.team-social li:hover.icon-team a{
	color:#fff;
}



.clients{
	position:relative;
	display:block;
	background:#ededed;
	width:100%;
	overflow:hidden;
	padding-top:50px;
	padding-bottom:50px;
	margin:0 auto;
	text-align:center;
}

.clients-wrap{
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	text-align:center;
}


.clients img{
	width:100px;
	height:65px;
	display:block;
	margin:0 auto;
	text-align:center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.clients img:hover{
	opacity:.5;
}

.clients-wrap  .bx-wrapper .bx-prev {
	left: 10px;
	margin-left:0;
	bottom:auto;
	top:50%;
	border:none;
	margin-top:-15px;
	background:url(../images/arr1.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.clients-wrap  .bx-wrapper .bx-next {
	right:10px;
	margin-right:0;
	bottom:auto;
	top:50%;
	border:none;
	margin-top:-15px;
	background:url(../images/arr2.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}





.footer{
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	background:#fff;
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}


.footer p{
	font-family: 'Lato', sans-serif;
	text-align:center;
	font-weight:400;
	text-transform:uppercase;
	font-size: 12px;
	line-height:18px;
	color:#808080;
}
.footer p span{
	color: #a8a8a8;
}

/* #Services
================================================== */
#services{
	overflow-y:auto;
	background:url('../images/pattern1.png');
}
#services h1{
	padding-top:140px;
}

#services-wrapper{
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding-bottom:50px;
}

.services-wrap{
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	text-align:center;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.services-wrap img{
	width:50px;
	height:50px;
	display:block;
	margin:0 auto;
	text-align:center;
	padding-bottom:20px;
}
.services-wrap h6{
}
.services-wrap p{
	padding-top:20px;
}
.services-wrap a{
	text-transform:uppercase;
	font-size: 12px;
	line-height:12px;
	color:#cfa144;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.services-wrap a:hover{
	color:#404040; 
}
.services-wrap:hover .services-wrap-icon img{
	width:40px;
	height:40px;
	padding-top:20px;
}

.services-wrap:hover .services-wrap-icon{
	background:#404040;
}

#modal,
#modal1,
#modal2,
#modal3{
	margin:0 auto;
	text-align:center;
	background:#fff;
}
#modal h5,
#modal1 h5,
#modal2 h5,
#modal3 h5{
}
.modal-example-body p{
    margin: 0;
	font-family: 'OpenSans-Light-webfont';
	font-size: 0.9em;
	color:#333333;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.modal-example-body {
    padding-bottom: 20px;
}
.modal-example-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
}

.list-group-item.active {
    z-index: 1;
}





#step-by-step{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
} 

#sync3 .item {
    display: block;
    width: 100%;
	padding-top:50px;
	padding-bottom:50px;
}
#sync3 .item p{
    text-align:center;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
}
.background1{
    background:url('../images/services1.jpg')no-repeat center center;
	background-size:cover;
}
.background2{
    background:url('../images/services2.jpg')no-repeat center center;
	background-size:cover;
}
.background3{
    background:url('../images/services3.jpg')no-repeat center center;
	background-size:cover;
}
.background4{
    background:url('../images/services4.jpg')no-repeat center center;
	background-size:cover;
}

.z-index-services{
	z-index:100;
}
.wrapper-process{
	position:relative;
	margin:0 auto;
	text-align:center;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	height: 100%;
	background:#fff;
	margin-top:20px;
	padding-bottom:20px;
}
.wrapper-process  .arrow-up{
	  left:50%;
	  width:0;
	  height:0;
	  z-index:3;
	  position:absolute;
	margin-top:-8px;
	  margin-left:-10px;
	  border-left:10px solid transparent;
	  border-right:10px solid transparent;
	  border-bottom:10px solid #fff;
}
.wrap-process {
	position:relative;
	margin:0 auto;
	text-align:center;
	height: 100px;
	width:100px;
	border:2px solid #cfa144;
	border-radius:50%;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.wrap-process .icon-process {
	font-family: 'FontAwesome';
	font-size: 28px;
	line-height: 100px;
	color: #cfa144; 
	text-align:center;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.wrap-process:hover .icon-process {
	color: #909090; 
}
.wrap-process:hover {
	border:2px solid #909090;
}

#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #cfa144;
}
#progressBar{
  width: 100%;
  background: #EDEDED;
}
#sync4 .item{
    text-align: center;
	margin:0 auto;
    cursor: pointer;
	height: 4px;
	border-left:2px solid #292929;
	border-right:2px solid #292929;
	background:#fff;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
#sync4 .item:hover {
	background:#cfa144;
}
#sync4 .synced .item {
	background:#cfa144;
}


 
#plans{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	background:#ededed;
	padding-top:50px;
	padding-bottom:60px;
	z-index:2;
} 
  
.plans-offer{
	position: relative; 
	width: 100%;
	background:#fff;
	overflow:hidden; 
	margin: 0 auto;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:5px;
	text-align:center;
} 
  
.plans-offer h3{
	padding-top:15px;
	padding-bottom:5px;
	text-align:center;
}  
.plans-offer h3 span{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:22px;
} 
.plans-offer p{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
	font-size: 12px;
	line-height:22px;
	padding-bottom:10px;
} 
.plans-offer h6{
	text-align:center;
	padding-bottom:35px;
}    
  
.plans-offer-gold{
	position: relative; 
	width: 100%;
	background:#fff;
	overflow:hidden; 
	margin: 0 auto;
	padding-top:20px;
	padding-bottom:20px;
	border-radius:5px;
	text-align:center;
} 
  
.plans-offer-gold h3{
	padding-top:15px;
	padding-bottom:5px;
	text-align:center;
}  
.plans-offer-gold h3 span{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:22px;
} 
.plans-offer-gold p{
	font-family: 'Lato', sans-serif;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
	font-size: 12px;
	line-height:22px;
	padding-bottom:10px;
} 
.plans-offer-gold h6{
	text-align:center;
	padding-bottom:35px;
}   
 .plans-offer-gold a,
 .plans-offer a {
	position: relative;
	font-family: 'Satisfy', cursive;
	display: inline-block;
	outline: none;
	text-align:center;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 18px;
	margin-top:5px;
}
.plans-offer-gold a:hover,
.plans-offer-gold a:focus,
.plans-offer a:hover,
.plans-offer a:focus {
	outline: none;
}
.plans-offer-gold .cl-effect-5 a,
.plans-offer .cl-effect-5 a {
	overflow: hidden;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}
.plans-offer-gold .cl-effect-5 a span,
.plans-offer .cl-effect-5 a span {
	position: relative;
	display: inline-block;
	text-align:center;
	padding-top:10px;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.plans-offer-gold .cl-effect-5 a span::before,
.plans-offer .cl-effect-5 a span::before {
	position: absolute;
	top: 100%;
	padding-top:10px;
	color:#101010;
	content: attr(data-hover);
	text-align:center;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.plans-offer-gold .cl-effect-5 a:hover span,
.plans-offer-gold .cl-effect-5 a:focus span,
.plans-offer .cl-effect-5 a:hover span,
.plans-offer .cl-effect-5 a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.plans-offer-gold h3,  
.plans-offer-gold h3 span, 
.plans-offer-gold h6,
.plans-offer-gold a,
.plans-offer a{
	color:#cfa144;
}













#testimonials{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	background:url('../images/pattern1.png');
	padding-top:50px;
	padding-bottom:90px;
}

.test{
	position:relative;
	width:100%;
}
.test h6{
	font-family: 'Lato', sans-serif;
	text-align:center;
	font-weight:400;
	text-transform:uppercase;
	font-size: 14px;
	line-height:22px;
	padding-bottom:25px;
	padding-top:15px;
}
.test p{
	font-size: 80%;
}
.test span{
	border-top:1px solid rgba(0,0,0,.7);
	padding-top:5px;
}

.icon-test  {
	font-family: 'FontAwesome';
	font-size: 26px;
	line-height: 26px;
	height: 18px;
	width:100%;
	padding-bottom:20px;
	color: #cfa144; 
	text-align:center;
}
#testimonials  .bx-wrapper .bx-prev {
	border:none; 
}

#testimonials  .bx-wrapper .bx-next {
	border:none;
}


/* #Portfolio
================================================== */

#folio{
	overflow-y:auto;
	width: 100%;
	background:url('../images/pattern1.png');
}
#folio h1{
	padding-top:140px;
}
#folio .cl-effect-14 a::before,
#folio .cl-effect-14 a::after {
	background: #000;
	opacity:0;
}
#folio .cl-effect-14 a:hover::before,
#folio .cl-effect-14 a:hover::after,
#folio .cl-effect-14 a:focus::before,
#folio .cl-effect-14 a:focus::after {
	opacity: 1;
}

#folio .cl-effect-14 a {
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
}

.all-works{
	position:relative;
	overflow:hidden;
	width:100%;
	display: block;
	padding-bottom:50px;
}

.all-works h5{
	padding-bottom:40px;
	text-align:center;
}

.one-work{
	position:relative;
	width:100%;
	overflow:hidden;
	display: block;
	padding-bottom:20px;
	border-bottom:1px solid #cfa144;
}
.one-work img{
	width:100%;
	height:auto;
	display: block; 
}



.one-work a{
}
.one-work .work-text{
	position:absolute; 
	width:120px;
	text-align:center;
	height:40px;
	z-index:6;
	left:50%;
	top:50%;
	margin-top:-46px;
	margin-left:-60px;
	background:rgba(0,0,0,.8);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	opacity:0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.one-work .work-text:hover{
	background:rgba(255,255,255,.9); 
}
.one-work .work-text:hover h6{
	color:#000; 
}
.one-work .work-text h6{
	font-family: 'Lato', sans-serif;
	text-align:center;
	font-weight:400;
	color:#fff;
	font-size:12px;
	text-transform:uppercase;
	line-height:40px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.one-work:hover .work-text{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity:1;
}

.one-work .right-zoom{
	position:absolute;
	font-family: 'FontAwesome'; 
	line-height:22px;
	font-size:18px;
	width:22px;
	text-align:center;
	color:#000;
	height:22px;
	z-index:6;
	right:20px;
	bottom:15px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.one-work .right-zoom:hover{
	color:#cfa144;
}

.one-work p{
	padding-top:20px;
	padding-left:20px;
	font-family: 'Lato', sans-serif;
	text-align:left;
	font-weight:400;
	color:#414141;
	font-size:12px;
	text-transform:uppercase;
	line-height:12px;
}

#portfolio-filter {
	position:relative;
	width:100%;
	text-align: center;
}
#filter {
	position:relative;
	width:100%;
}

#filter li {
	display: inline-block;
}
#filter li a {
	position: relative;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px; 
	outline: none;
	color: #706e6e;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	margin-left:8px;
	margin-right:8px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
#filter li a:after {
	content:'::::';
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size: 12px; 
	color: #706e6e;
	padding-left:20px;
	opacity:.5;
}
#filter li:last-child a:after {
	display:none;
}
#filter li a:hover {
	color: #bdb3b3;
}

#filter li .current{
	color:#cfa144;
}




.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.6s;
       -moz-transition-duration: 0.6s;
            transition-duration: 0.6s;
}

.isotope {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
            transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
       -moz-transition-property:    -moz-transform, opacity;
        -ms-transition-property:     -ms-transform, opacity;
         -o-transition-property:         top, left, opacity;
            transition-property:         transform, opacity;
}






 
/* #Projects
================================================== */

/* Expander Item Styles */
	.relative{
		position: relative;
	}
	.portfolio{
		position: relative;
		width:100%;
		height: auto;
		margin:0 auto;
		max-width: 960px;
	}
	
	.expander-wrap {
		position:relative;
		display: none;
		text-align: center;
	}

	#expander-wrap{
		position: relative;
		width:100%;
		max-width:960px;
		margin:0 auto;
		overflow: hidden;
	}


/* Expander Item Controls */

	.project-controls{
		position: relative;
		width:100%;
		height: auto;
		top:15px;
		max-width: 960px;
		margin:0 auto;
	}

	.expander-inner{
		position: relative;
	}

	.cls-btn{
		width:100%;
		padding: 0;
		margin: 0 auto;
		display: block;
		height: auto;
	}

	.expander-wrap .cls-btn .close {
		position:relative;
		display: inline-block;
		color:#000;
		top:0;
		margin-top:15px;
		width:auto;
		height:auto;
		font-size:30px;
		font-weight:100;
		text-align:center;
		cursor: pointer;
		float:none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	.expander-close:hover {
		color:#3a3a3a;
		cursor:pointer;
	}

.project{
	position: relative; 
	width: 100%;
}

#project-single-slider{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
	padding-top:10px;
	padding-bottom:20px;
}

#project-single-slider h1{
}
#last-work{
	position: relative; 
	margin: 0 auto;
	padding-bottom:20px;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#last-work img{
	width: 100%;
	height:auto;
	display:block;
}
#last-work h3{
	text-align:center;
	padding-bottom:25px;
}
#last-work h6{
	text-align:left;
	padding-bottom:20px;
}
#last-work p{
	text-align:left;
	padding-bottom:30px;
}
#last-work p:last-child{
	padding-bottom:0;
}
#slider-wrap{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#slider-wrap img{
	width: 100%;
	height:auto;
	display:block;
}
#project-single-video{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}
#project-single-video h1{
	color:#fff;
}
#thevideo{ 
	display:none;
}

.video{ 
	width: 100%;
	height:auto;
	display:block;
}
iframe{ 
	width:100%;
	height:auto;
	display:block;
}












 
 .flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('font/flexslider-icon.eot');
	src:url('font/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('font/flexslider-icon.woff') format('woff'),
		url('font/flexslider-icon.ttf') format('truetype'),
		url('font/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 35px; height: 50px; position: absolute; top: 50%;margin-top:-25px;z-index: 100; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(0,0,0,0);  -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: 0;background:url('../images/arrow-left.png') no-repeat center center; background-color:rgba(60,60,60,.7); }
.flex-direction-nav .flex-next { right: 0;  background:url('../images/arrow-right.png') no-repeat center center;background-color:rgba(60,60,60,.7);  }
.flexslider:hover .flex-prev { opacity: 0.7;  }
.flexslider:hover .flex-next { opacity: 0.7;  }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  {}
.flex-direction-nav a.flex-next:before  {}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
 }
 


/* #Contact
================================================== */

#contact{
	overflow-y:auto;
	width: 100%;
	background:url('../images/pattern1.png');
}
#contact h1{
	padding-top:140px;
}

#contact .sep{
}

#map{
	position: relative;
  display: block;
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.overlay{
  display:block;
  z-index:10;
  text-align:center;
  height:80px;
  width:102px;
  background:transparent url(../images/marker.png)no-repeat bottom center;
}
.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-13px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #000;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #000;
}


#contact-details{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	background:url('../images/pattern1.png');
	padding-top:50px;
	padding-bottom:50px;
}
#contact-details p{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size: 13px;
	line-height:22px;
	color:#7a7a7a;
}
.icon-contact  {
	font-family: 'FontAwesome';
	font-size: 26px;
	line-height: 26px;
	height: 18px;
	width:100%;
	padding-bottom:20px;
	color: #cfa144; 
	text-align:center;
}
.detail  {
	position:relative;
	padding-top:10px;
	width:100%;
	text-align:center;
}

#contact-mes{
	position:relative;
	display:block;
	width:100%;
	overflow:hidden;
	padding-bottom:50px;
}


	#ajax-form {
		width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform:uppercase;
		margin-left: auto;
		margin-right: auto;
	color:#7a7a7a;
	text-align:left;
	}
	label {
		display: block;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform:uppercase;
		font-size:12px;
		line-height:24px;
	}
	input{
		width: 96%;
		border:none;
		background:#fff;
		font-family: 'Lato', sans-serif;
		font-weight:400;
		font-size:12px;
		line-height:18px;
		margin-bottom: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	textarea {
		width: 96%;
		background:#fff;
		font-family: 'Lato', sans-serif;
		font-weight:400;
		font-size:12px;
		line-height:18px;
		height:120px;
		margin-bottom: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left:0;
		padding-right:0;
		border:none;
	}
	.error {
		color: #cfa144;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform:uppercase;
		font-size:12px;
		line-height:18px;
		display: none;
	}
	#ajaxsuccess {
		background: #f5f5f5;
		color:#000;
		font: 20px/60px 'OpenSans-Light-webfont';
		height:60px;
		display: none;
		padding-left:10px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}

#ajax-form button{
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	font-size: 14px;
	line-height:22px;
	color:#cfa144;
	text-transform:uppercase;
 }
#ajax-form button:hover{
	background: #f1f1f1;
 }
	#ajax-form textarea:active,
	#ajax-form input:active {	
	  color: #333333;
	outline:1px solid #fff;}
	#ajax-form textarea:active,
	#ajax-form input:hover {	
	  color: #333333;
	outline:1px solid #fff;}
	#ajax-form textarea,
	#ajax-form input {	
	  color: #333333;
	outline:1px solid #fff;}

#ajax-form input[type="text"]{
	padding-left:2%;
	padding-right:2%;
}
#ajax-form input[type="text"], textarea{
	padding-left:2%;
	padding-right:2%;
} 
	
	

/* #Blog
================================================== */

#blog{
	overflow-y:auto;
	width: 100%;
	background:url('../images/pattern1.png');
}
#blog h1{
	padding-top:140px;
}
.blog-wrap h6{
	padding-bottom:20px;
	text-align:left;
}
.blog-wrap p{
	text-align:left;
	padding-bottom:20px;
}	
	
.blog-wrap{
	position:relative;
	padding-bottom:50px;
	width: 100%;	
}
.blog-wrap img{
	width: 100%;
	height:auto;
	display:block;
}	
.blog-date{
	font-family: 'Lato', sans-serif;
	text-align:left;
	font-size: 30px; 
	line-height:36px;
	font-weight: 400;
	padding-bottom:5px;
	margin-bottom:20px;
}	
.blog-date span{
	border-bottom:1px solid rgba(0,0,0,.7);
}	
.blog-tag {
	position:relative;
	width: 100%;
	padding-bottom:20px;
}	
.blog-tag a{
	display:inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	float:left;
	padding:2px 10px;
	margin-right:4px;
	font-size:10px;
	text-transform:uppercase;
	border:1px solid rgba(0,0,0,.7);
	color:rgba(0,0,0,.7);
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}	
.blog-tag a:hover{
	border:1px solid rgba(40,40,40,.1);
	color:rgba(40,40,40,1);
}
.link-blog {
	position:relative;
	width:100px;
	margin-top:30px;
	overflow:hidden;
}
.link-blog a {
	outline: none;
	color: #000;
	text-align:left;
	font-family: 'Satisfy', cursive;
	text-decoration: none;
	font-weight: 400;
	font-size: 20px;
}	



.post1{
	padding-top:50px;
}
.post2{
	background:#ededed;
	padding-top:50px;
}

.blog-wrap .bx-wrapper .bx-prev {
	left: 10px;
	margin-left:0;
	bottom:auto;
	top:50%;
	margin-top:-15px;
	border:none;
	background:rgba(255,255,255,.4) url(../images/arr1.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}

.blog-wrap .bx-wrapper .bx-next {
	right:10px;
	margin-right:0;
	bottom:auto;
	top:50%;
	margin-top:-15px;
	border:none;
	background:rgba(255,255,255,.4) url(../images/arr2.png) no-repeat center center;
	background-size:15px 15px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;  
}
.media-audio iframe{
	width:100%;
	height:116px;
}




/* #Media Queries
================================================== */

@media only screen and (max-width: 800px) {
h1 { font-size: 42px; line-height:42px;}
#menu-wrap{
    padding-top:70px;
}
.logo{
	background:url('../images/logo1.png') no-repeat center center;
	background-size:140px 47px;
	width:140px;
	margin-left:-70px;
	top:20px;
	height:47px;
}
#filter li a:after {
	display:none;
}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
.big-text { 
	margin-top:-20px;
	font-size: 50px; 
	line-height:50px; 
}
.team-wrap{
	width:50%;
}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.about-section-2 .container .nine.columns { width: 748px; }
.big-text { 
	margin-top:-10px;
	font-size: 40px; 
	line-height:40px; 
}
.team-wrap{
	width:50%;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.big-text { 
	margin-top:0;
	font-size: 25px; 
	line-height:25px; 
}
#skills{
	background:#ededed;
}
.team-wrap{
	width:100%;
}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {	
.big-text { 
	margin-top:5px;
	font-size: 17px; 
	line-height:17px; 
}
.team-wrap h5{
	background:rgba(255,255,255,.8);
	top:auto;
	bottom:0;
	text-align:center;
}
.about-section-1  {
	width: 100%;
	height:200px;
	background:url('../images/aboutcor.png') no-repeat center top;
	background-size:contain;
}
#skills{
	background:#ededed;
}
.team-wrap{
	width:100%;
}
}

@media only screen and (max-width: 319px) {	
.big-text { 
	margin-top:10px;
	font-size: 12px; 
	line-height:12px; 
}
.about-section-1  {
	width: 100%;
	height:150px;
	background:url('../images/aboutcor.png') no-repeat center top;
	background-size:contain;
}
#skills{
	background:#ededed;
}
.team-wrap{
	width:100%;
}
}




/* #Font-Face
================================================== */


@font-face {
    font-family: 'Sifonn-Basic';
    src: url('font/Sifonn-Basic.eot');
    src: url('font/Sifonn-Basic.eot?#iefix') format('embedded-opentype'),
         url('font/Sifonn-Basic.woff') format('woff'),
         url('font/Sifonn-Basic.ttf') format('truetype'),
         url('font/Sifonn-Basic.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}






