/* =================================== */
/*  Facts Styles 
/* =================================== */


.facts-section{
    h1{
        padding-bottom:70px;   
    }
}

.single-fact{
    text-align: center;
    span{
        font-size: 35px;
        color:$white;
    }
    .counter{
        font-size: 18px;
        color:$white;
        padding:10px 0px;
    }
    p{
        color: $white;
    }
}
