/* =================================== */

/*  Team Details Styles 
/* =================================== */

.our-team {
    position: relative;
    margin: 35px 0;
}

.our-team img {
    width: 100%;
    height: auto;
    z-index: 1;
    transform: translateY(0px);
    transition: all 0.50s ease;
}

.our-team:hover img {
    transform: translateY(-60px);
}

.our-team .team-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    background:$primary-color;
    transform: translateY(0px);
    transition: all 0.50s ease-in-out 0s;
}

.our-team:hover .team-content {
    transform: translateY(55px);
    opacity: 1;
}

.our-team .team-title {
    font-size: 19px;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
}

.our-team .team-title small {
    display: block;
    color: #fff;
    margin: 1% 0 3% 0;
    font-size: 12px;
    text-transform: capitalize;
}

.our-team .social-link {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-team .social-link li {
    display: inline-block;
    margin-right: 2%;
}

.our-team .social-link li a {
    color: #fff;
    transition: all 0.50s ease;
}

.our-team .social-link li a:hover {
    color: #fff;
}

@media screen and (max-width: 767px) {
    .our-team {
        margin-bottom: 15%;
    }
}