/* =================================== */
/*  Testimonial Styles 
/* =================================== */

.single-testimonial {
    background: $primary-color;
    color: $white;
    text-align: center;
    padding: 30px;
    .block {
        cite {
            color: $text-color;
            &:before {
                content: '\2014 \00A0';
            }
        }
    }
}
