/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */

$primary-font	: 'Lato', sans-serif;
$secondary-font	: 'Josefin Sans', sans-serif;


$primary-color      : #333;
$secondary-color	: #2cc6e6;

$title-color		: #222222;
$text-color			: #8c8d9e;

$white				: #fff;
$offwhite           : #f3f3f3;
$black				: #222;


